
html,body{
    height:100%;
    width:100%;
    margin:0%;
}
.container{
    
    padding: 370px;

    background-color:lightgreen;
    border:2px solid black;
    position:realtive;
}
img{
    height:250px;
    width:300px;
    margin :10px;
    position:absolute;
    top:0;
    right:0;



}
p{
text-align: left;
    font-style:italic;
    font-size:48px;
    font-weight: bolder;
    position:absolute;
    top: 650px;
    left:0;
    bottom:0;
}
p1{
    padding:10px;
    font-size: xx-large;
    font-weight:bolder;
    font-style: italic;
    position:absolute;
    left:650px;
    top: 350px;
}